.contact__section {
  flex-direction: column;
  /* align-items: center; */
  padding: 20px 0;
  /* gap: 20px; */
  height: calc(100vh - 64px);

  /* background-color: violet; */
  width: 100%;
}

.contact__title {
  text-align: left;
  padding-left: 36px;
  width: 100%;
  /* white-space: nowrap; */
  /* background-color: rgb(129, 89, 169); */
}

.title_char {
  display: inline-block;
  font-weight: 500;
  color: var(--color-primary);
}

.contact__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
  width: 100%;
  height: calc(100% - 43px);
}

.contact_form {
  display: flex;
  flex-direction: column;
  justify-content: start;
  flex-grow: 5;
  padding: 40px 50px 0 36px;
  width: 100%;
  /* height: 60%; */
  /* background-color: rgb(76, 163, 45); */
  gap: 18px;
}

.contact_form label {
  font-size: 1.3rem;
  font-weight: 200;
}

.contact_form input {
  padding: 10px 4px;
  height: 36px;
  font-size: 1.2rem;
  font-weight: 100;
  border-radius: 10px;
  border: none;
}

.form__input_name,
.form__input_email,
.form__input_message {
  display: flex;
  gap: 8px;
  flex-direction: column;
}
.form__submit_info {
  width: 150px;
  margin-top: 24px;
  padding: 10px 15px;
  font-size: 1.2rem;
  font-weight: 100;
}

.contact__info {
  display: flex;
  height: 30%;
  /* flex-direction: column; */
  justify-content: space-around;
  font-weight: 100;
  letter-spacing: 1.5px;
  /* padding: 30px; */
  background-color: rgb(79, 60, 34);
}

.contact__info p {
  font-size: 0.9rem;
}

.info_address {
  padding: 0 15px;
  margin: 0;
}
.info_address:nth-of-type(1) {
  margin-top: 16px;
}
.info_address:nth-of-type(2) {
  margin: 8px 0;
}

/* 


.info_address {
  padding: 0 15px;
  margin: 0;
}
.info_address:nth-of-type(1) {
  margin-top: 16px;
}
.info_address:nth-of-type(2) {
  margin: 8px 0;
}

.info_rest {
  padding: 0 15px;
} */
