.hero {
  background-blend-mode: multiply;
  background-color: #432a9c;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px 0;
  gap: 20px;
}

.hero__left {
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: center;
  width: 100%;
  height: 50%;
  /* margin-right: 5%; */
}
.hero__picture {
  background-size: cover;
  border-bottom: 4px solid #d5f505;
  border-radius: 0 100px 5% 0;
  background-image: linear-gradient(#432a9c, #00000000, #432a9c),
    url("../img/hero_profileImage_small.jpg");
  background-size: cover;
  background-position-y: 20%;
  background-position-x: 80%;
  background-repeat: no-repeat;
}
.hero__button {
  display: flex;
  gap: 20px;
  padding-bottom: 50px;
}

.hero__right {
  display: flex;
  flex-direction: column;
  padding: 40px 12px 8px 34px;
  width: 100%;
}

.hero__name {
  color: #d5f505;
  font-weight: 400;
}

.hero__description {
  font-size: 1.1rem;
  font-weight: 200;
  padding-right: 24px;
  line-height: 1.75rem;
}

@media screen and (min-width: 769px) {
  .hero {
    display: flex;
    flex-direction: row;
    padding: 0;
  }

  .hero__left {
    height: 90%;
    margin-right: 0;
  }
  .hero__picture {
    background-image: linear-gradient(#432a9c, #00000000, #432a9c),
      url("../img/hero_profilePicture_large.webp");
    background-size: cover;
    background-position-y: 60%;
    background-position-x: 10%;
    background-repeat: no-repeat;
    border-radius: 0 300px 10% 0;
  }

  .hero__button {
    display: flex;
    gap: 30px;
    padding-bottom: 100px;
  }

  .hero__description {
    font-size: 1.2rem;
    font-weight: 300;
    padding-right: 24px;
    line-height: 2rem;
  }
}

@media screen and (max-width: 326px) {
  .hero__button {
    gap: 20px;
    display: flex;
    flex-direction: column;
  }
}
