.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px 0;
  gap: 20px;
  height: calc(100vh - 64px);
}

.hero__top {
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: center;
  width: 100%;
  height: 40%;
}
.hero__picture {
  display: flex;
  background-size: cover;
  border-bottom: 4px solid var(--color-primary);
  border-radius: 0 100px 5% 0;
  background-image: linear-gradient(#432a9c, #00000000, #432a9c),
    url("../img/hero_profileImage_small.jpg");
  background-size: cover;
  background-position-y: 20%;
  background-position-x: 80%;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: end;
}
.hero__button {
  display: flex;
  gap: 0.5rem;
  padding-bottom: 24px;
}

.hero__bottom {
  display: flex;
  flex-direction: column;
  padding: 40px 12px 8px 34px;
  width: 100%;
}

.hero__title {
  font-size: 2rem;
}
.hero__name {
  color: var(--text-color);
  font-weight: 400;
}

.hero__subtitle {
  font-size: 2.1rem;
  color: var(--color-primary);
}

.hero__description {
  font-size: 1.1rem;
  font-weight: 200;
  padding-right: 24px;
  line-height: 1.75rem;
}

.hero__social {
  display: flex;
  justify-content: left;
  flex-wrap: wrap;
  height: 100%;
}
.hero__social a {
  display: inline-block;
  padding: 4px 8px;
}

.hero__social a:hover {
  color: var(--color-primary);
  filter: drop-shadow(0 0 0.75rem var(--color-primary));
}

.hero__social a:nth-of-type(1) {
  padding-left: 0;
  margin-left: 0;
}

@media screen and (min-width: 769px) {
  .hero {
    flex-direction: row;
    padding: 0;
    height: 100%;
  }

  .hero__top {
    height: calc(100vh - 69px);
    margin-right: 0;
    margin-bottom: 24px;
    width: 100%;
    justify-content: center;
    align-items: start;
  }
  .hero__picture {
    width: 90%;
    height: 90%;
    background-image: linear-gradient(#432a9c, #00000000, #432a9c),
      url("../img/hero_profilePicture_large.webp");
    background-size: cover;
    background-position-y: 60%;
    background-position-x: 10%;
    background-repeat: no-repeat;
    border-radius: 0 40% 10% 0;
  }

  .hero__button {
    display: flex;
    gap: 0.5rem;
    padding-bottom: 60px;
  }
  .hero__title {
    font-size: 2.1rem;
  }
  .hero__subtitle {
    font-size: 2.4rem;
    font-weight: 300;
  }

  .hero__description {
    font-size: 1.2rem;
    font-weight: 300;
    line-height: 2rem;
    max-width: 600px;
    padding-right: 24px;
  }

  .hero__bottom {
    padding: 40px 12px 8px 16px;
    height: 100%;
  }

  .hero__social {
    padding-top: 24px;
  }
}

@media screen and (min-width: 1200px) {
  .hero__title {
    font-size: 2.6rem;
  }

  .hero__subtitle {
    font-size: 3rem;
    font-weight: 400;
  }

  .hero__button {
    padding-bottom: 120px;
  }

  .hero__bottom {
    padding: 40px 12px 8px 100px;
  }
}

@media screen and (max-width: 376px) {
  .hero__bottom {
    padding-left: 12px;
  }
  .hero__description {
    padding-right: 0;
    font-size: 1rem;
  }
  .hero__button {
    gap: 20px;
    display: flex;
    flex-direction: column;
  }
  .hero__social a {
    padding-left: 0;
    margin-left: 0;
  }
}
