:root {
  --color-primary: #d5f505;
  --color-primary: rgb(213, 245, 5);
  --text-color: #f3f4f0;
}

* {
  box-sizing: border-box;
}

html {
  height: 100vh;
}

body {
  display: flex;
  /* position: relative; */
  flex-direction: column;
  align-items: center;
  background-color: #432a9c;
  color: var(--text-color);
  font-family: "Manrope", sans-serif;
  margin: 0 auto;
  overflow-x: hidden;
  user-select: none;
}

h1 {
  font-weight: 200;
  letter-spacing: 1px;
  margin: 0;
}

h2 {
  font-weight: 400;
  letter-spacing: 1px;
  padding-top: 15px;
  margin: 0;
}

a {
  text-decoration: none;
  color: var(--text-color);
  margin: 8px;
}

a:hover {
  color: var(--color-primary);
  text-shadow: #c3bae3 1px 1px 10px;
}

header {
  position: sticky;
  width: 100%;
  max-width: 1440px;
  top: -1px;
  background-color: #c3bae3;
  align-items: center;
}

section {
  display: flex;
  justify-items: center;
  max-width: 1440px;
  height: 100%;
  width: 100%;
}

@media screen and (min-width: 769px) {
}

@media screen and (max-width: 326px) {
  .button_link {
    padding: 10px 20px;
    border-radius: 5px;
    border: 0;
    font-size: 1rem;
    font-weight: 200;
  }
}
