:root {
  --color-primary: #d5f505;
  --text-color: #f3f4f0;
}

* {
  box-sizing: border-box;
}

html {
  height: 100vh;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #432a9c;
  color: var(--text-color);
  font-family: "Manrope", sans-serif;
  margin: 0 auto;
  overflow-x: hidden;
  user-select: none;
}

h1 {
  font-weight: 200;
  letter-spacing: 1px;
  margin: 0;
}

h2 {
  font-weight: 400;
  letter-spacing: 1px;
  padding-top: 15px;
  margin: 0;
}

a {
  text-decoration: none;
  color: var(--text-color);
  margin: 8px;
}

a:hover {
  color: var(--color-primary);
  text-shadow: #c3bae3 1px 1px 10px;
}

.button_link {
  display: inline-block;
  border: 0;
  width: 150px;
  padding: 12px 20px;
  border-radius: 8px;
  font-size: 1.1rem;
  font-weight: 300;
  background: linear-gradient(0.5turn, #00000033, #d5f5055f);
  color: var(--text-color);
  text-align: center;
}

.button_link:hover {
  color: var(--color-primary);
}

header {
  position: sticky;
  width: 100%;
  max-width: 1440px;
  top: -2px;
}

section,
footer {
  display: flex;
  justify-items: center;
  max-width: 1440px;
  height: 100vh;
  width: 100%;
}

footer {
  height: calc(70vh - 56px);
  background-color: pink;
}

@media screen and (min-width: 769px) {
  section,
  footer {
    display: flex;
    justify-items: center;
    max-width: 1440px;
    height: 100vh;
    width: 100%;
  }

  .button_link {
    border: 0;
    font-size: 1.1rem;
    font-weight: 300;
  }
}

@media screen and (max-width: 326px) {
  .button_link {
    padding: 10px 20px;
    border-radius: 5px;
    border: 0;
    font-size: 1rem;
    font-weight: 200;
  }
}
